<!DOCTYPE html>
<html>

<head>
    <title>unique people</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/owl.theme.green.min.css' />
    <link rel='stylesheet' href='/stylesheets/all.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/owl.carousel.min.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    label{
        color: aliceblue;
    }
  </style>
</head>

<body class="bg-black">
    <!-- <body> -->
    <div class="container-fluid">
        <div class="container p-2">
            <div class="row ">
                <div class="col-4 ">
                    <ul class="list-unstyled p-0 d-flex m-0 ">
                        <li class="me-2 "><a href="" class="text-decoration-none pe-2 text-white"><i
                                    class=" font-wai fa-regular fa-envelope light pe-1"></i>own23@gmail.com</a></li>
                        <li><a href="" class="text-decoration-none text-white"><i class="fa-solid fa-shop me-2"></i>Your
                                Shop</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <ul class="list-unstyled m-0 ">
                        <li><a href="" class="text-decoration-none text-white justify-content-center">HAVE ANY QUESTION
                                ? +91
                                7817853425 </a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="main list-unstyled d-flex justify-content-end m-0">
                        <li class="pe-2"><a href="" class="text-decoration-none text-white"><i
                                    class="fa-brands fa-facebook-f pe-1"></i></a></li>
                        <li class="pe-2"><a href="" class="text-decoration-none text-white"><i
                                    class="fa-brands fa-twitter pe-1"></i></a></li>
                        <li class="pe-2"><a href="" class="text-decoration-none text-white"><i
                                    class="fa-solid fa-map-location-dot pe-1"></i></a></li>
                        <li class="pe-2"><a href="" class="text-decoration-none text-white"><i
                                    class="fa-solid fa-shop pe-1"></i></i></a></li>
                        <li class="pe-2"><a href="" class="text-decoration-none text-white"><i
                                    class="fa-brands fa-instagram pe-1 "></i></a></li>
                        <li class="pe-2"><a href="" class="text-decoration-none text-white"><i
                                    class="fa-brands fa-youtube pe-1"></i></a></li">
                        <li class="pe-2"><a href="" class="text-decoration-none text-white"><i
                                    class="fa-brands pe-1 fa-whatsapp"></i></a></li">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light header-1 py-3">
                <div class="container">
                    <a class="navbar-brand w-50" href="/">
                        <img class="w-50" src="/images/Untitled_1.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="w-50 py-3 ">
                        <ul class=" d-flex list-unstyled justify-content-end m-0">
                            <li class="nav-item "><a href="" class="text-decoration-none text-white-50 px-3"><i
                                        class="fa-solid fa-magnifying-glass"></i></a></li>
                            <li class="nav-item"><a href="./signup" class="text-decoration-none text-white-50 px-3"><i
                                        class="fa-regular fa-user"></i></a></li>
                            <li class="nav-item"><a href="" class="text-decoration-none text-white-50 px-3"><i
                                        class="fa-regular fa-heart"></i></a></li>
                            <li class="nav-item"><a href="" class="text-decoration-none text-white-50 px-3"><i
                                        class="fa-solid fa-cart-shopping"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    </div>
    </header>

    <div class="container-fluid mt-5 ">
        <div class="container ">
            <div class=" pb-1 ">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-secondary p-3">
                        <li class="breadcrumb-item"><a href="#" class="text-white">Home /</a></li>
                        <li class="breadcrumb-item"><a href="#" class="text-white">seller /</a></li>
                        <li class="breadcrumb-item " aria-current="page"><a href="#" class="text-white">add item</a></li>
                    </ol>
                </nav>
            </div>



            <div class="row">
                <div class="col-3 ">
                    <nav class="nav nav-tabs border-0 flex-column pt-3 ">
                        <ul class="list-unstyled ">
                            <li class="active"><a data-toggle="tab"
                                    class="nav-link text-decoration-none py-3 text-white" href="#Watches"><i
                                        class="fa-solid fa-clock"></i>&nbsp;&nbsp;&nbsp;&nbsp;Watches</a></li>
                            <li><a data-toggle="tab" class="nav-link text-white text-decoration-none py-3"
                                    href="#Sunglasses"><i
                                        class="fa-solid fa-glasses"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sunglasses</a></li>
                            <li><a data-toggle="tab" class="nav-link text-white text-decoration-none py-3"
                                    href="#Shoes"><i
                                        class="fa-solid fa-shoe-prints"></i>&nbsp;&nbsp;&nbsp;&nbsp;Shoes</a></li>
                            <li><a data-toggle="tab" class="nav-link text-white text-decoration-none py-3"
                                    href="#Accessories"><i
                                        class="fa-solid fa-layer-group"></i>&nbsp;&nbsp;&nbsp;&nbsp;Accessories</a>
                            </li>
                            <li><a data-toggle="tab" class="nav-link text-white text-decoration-none py-3"
                                    href="#Perfumes"><i
                                        class="fa-solid fa-spray-can-sparkles"></i>&nbsp;&nbsp;&nbsp;&nbsp;Perfumes</a>
                            </li>
                            <li><a data-toggle="tab" class="nav-link text-white text-decoration-none py-3"
                                    href="#Bags"><i
                                        class="fa-solid fa-bag-shopping"></i>&nbsp;&nbsp;&nbsp;&nbsp;Bags</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-9">

                    <div class="tab-content">
                        <div id="Watches" class="tab-pane fade in active text-white">
                            <h1 class="text-white"><i class="fa-solid fa-clock"></i>&nbsp;&nbsp;watch&nbsp;&nbsp;>
                            </h1>
                            <br>
                            <form class=" p-3 bg-white-50" action="/sell_watch" method="post"
                                enctype="multipart/form-data">
                                <div class="row">

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1 text-white">product_Name</label>
                                        <input type="text" class="form-control" name="product_name"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="Your id">
                                        <br>
                                    </div>


                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">price</label>
                                        <input type="price" class="form-control" name="price" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter price">
                                    </div>
                                    <br>

                                    <div class="form-group col-6">
                                        <label for="exampleInputPassword1">Description</label><br>
                                        <textarea name="description" placeholder="description" id="" cols="45" class="text-dark"
                                            rows="3"></textarea>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">images</label>
                                        <input type="file" class="form-control" name="product_images"
                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>

                                </div>
                                <br>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class=" btn btn-secondary btn-outline-dark px-5 text-white">Click</button>
                                </div>
                            </form>
                        </div>
                        <div id="Sunglasses" class="tab-pane fade">
                            <h1 class="text-white"> <i class="fa-solid fa-glasses"></i>&nbsp;&nbsp;Sunglasses&nbsp;&nbsp;></h1><br>
                            <form class=" p-3 bg-white-50" action="/sell_sunglasses" method="post"
                                enctype="multipart/form-data">
                                <div class="row">

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1 text-white">product_Name</label>
                                        <input type="text" class="form-control" name="product_name"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="Your Name">
                                        <br>
                                    </div>


                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">price</label>
                                        <input type="price" class="form-control" name="price" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter price">
                                    </div>
                                    <br>

                                    <div class="form-group col-6">
                                        <label for="exampleInputPassword1">Description</label><br>
                                        <textarea name="description" placeholder="description" id="" cols="45"
                                            rows="3"></textarea>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">images</label>
                                        <input type="file" class="form-control" name="product_images"
                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>

                                </div>
                                <br>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class=" btn btn-secondary btn-outline-dark px-5 text-white">Click</button>
                                </div>
                            </form>
                        </div>
                        <div id="Shoes" class="tab-pane fade">
                            <h1 class="text-white"><i class="fa-solid fa-shoe-prints"></i>&nbsp;&nbsp;Shoes&nbsp;&nbsp;></h1><br>
                            <form class=" p-3 bg-white-50" action="/sell_Shoes" method="post"
                                enctype="multipart/form-data">
                                <div class="row">

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1 text-white">product_Name</label>
                                        <input type="text" class="form-control" name="product_name"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="Your Name">
                                        <br>
                                    </div>


                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">price</label>
                                        <input type="price" class="form-control" name="price" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter price">
                                    </div>
                                    <br>

                                    <div class="form-group col-6">
                                        <label for="exampleInputPassword1">Description</label><br>
                                        <textarea name="description" placeholder="description" id="" cols="45"
                                            rows="3"></textarea>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">images</label>
                                        <input type="file" class="form-control" name="product_images"
                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>

                                </div>
                                <br>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class=" btn btn-secondary btn-outline-dark px-5 text-white">Click</button>
                                </div>
                            </form>
                        </div>
                        <div id="Accessories" class="tab-pane fade">
                            <h1 class="text-white"><i class="fa-solid fa-layer-group"></i>&nbsp;&nbsp;Accessories&nbsp;&nbsp;></h1><br>
                            <form class=" p-3 bg-white-50" action="/sell_Accessories" method="post"
                                enctype="multipart/form-data">
                                <div class="row">

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1 text-white">product_Name</label>
                                        <input type="text" class="form-control" name="product_name"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="Your Name">
                                        <br>
                                    </div>


                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">price</label>
                                        <input type="price" class="form-control" name="price" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter price">
                                    </div>
                                    <br>

                                    <div class="form-group col-6">
                                        <label for="exampleInputPassword1">Description</label><br>
                                        <textarea name="description" placeholder="description" id="" cols="45"
                                            rows="3"></textarea>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">images</label>
                                        <input type="file" class="form-control" name="product_images"
                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>

                                </div>
                                <br>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class=" btn btn-secondary btn-outline-dark px-5 text-white">Click</button>
                                </div>
                            </form>
                        </div>
                        <div id="Perfumes" class="tab-pane fade">
                            <h1 class="text-white"><i class="fa-solid fa-spray-can-sparkles"></i>&nbsp;&nbsp;Perfumes&nbsp;&nbsp;></h1><br>
                            <form class=" p-3 bg-white-50" action="/sell_Perfumes" method="post"
                                enctype="multipart/form-data">
                                <div class="row">

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1 text-white">product_Name</label>
                                        <input type="text" class="form-control" name="product_name"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="Your Name">
                                        <br>
                                    </div>


                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">price</label>
                                        <input type="price" class="form-control" name="price" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter price">
                                    </div>
                                    <br>

                                    <div class="form-group col-6">
                                        <label for="exampleInputPassword1">Description</label><br>
                                        <textarea name="description" placeholder="description" id="" cols="45"
                                            rows="3"></textarea>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">images</label>
                                        <input type="file" class="form-control" name="product_images"
                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>

                                </div>
                                <br>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class=" btn btn-secondary btn-outline-dark px-5 text-white">Click</button>
                                </div>
                            </form>
                        </div>

                        <div id="Bags" class="tab-pane fade">
                            <h1 class="text-white"><i class="fa-solid fa-bag-shopping"></i>&nbsp;&nbsp;Bags&nbsp;&nbsp;></h1><br>
                            <form class=" p-3 bg-white-50" action="/sell_Bags" method="post"
                                enctype="multipart/form-data">
                                <div class="row">

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1 text-white">product_Name</label>
                                        <input type="text" class="form-control" name="product_name"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="Your Name">
                                        <br>
                                    </div>


                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">price</label>
                                        <input type="price" class="form-control" name="price" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter price">
                                    </div>
                                    <br>

                                    <div class="form-group col-6">
                                        <label for="exampleInputPassword1">Description</label><br>
                                        <textarea name="description" placeholder="description" id="" cols="45"
                                            rows="3"></textarea>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1">images</label>
                                        <input type="file" class="form-control" name="product_images"
                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>

                                </div>
                                <br>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class=" btn btn-secondary btn-outline-dark px-5 text-white">Click</button>
                                </div>
                            </form>
                        </div>
                    
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>

</body>

</html>