<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>unique people</title>
    <link rel="stylesheet" href="/stylesheets/loginstyle.css" />
    <link rel='stylesheet' href='/stylesheets/owl.theme.green.min.css' />
    <link rel='stylesheet' href='/stylesheets/all.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/owl.carousel.min.css' />
    
  </head>
  <body>
    <div class="query">(+91) 90542 74408 contact@uniquepeople.in</div>
    <div class="container">
      <header>
        <div class="logo">
          <a href="home.html">
            <img src="img/logo.png" alt="logo" />
          </a>
        </div>
        <!-- <div class="header-cont">
          <ul>
            <li>
              <a href="">Watches <i class="fa-solid fa-caret-down"></i></a>
            </li>
            <li>
              <a href="">Shoes <i class="fa-solid fa-caret-down"></i></a>
            </li>
            <li>
              <a href="">Perfumes <i class="fa-solid fa-caret-down"></i></a>
            </li>
            <li>
              <a href="">Bags <i class="fa-solid fa-caret-down"></i></a>
            </li>
            <li>
              <a href="">More <i class="fa-solid fa-caret-down"></i></a>
            </li>
          </ul>
        </div> -->
        <div class="header-btn">
          <ul>
            <li><i class="fa-solid fa-magnifying-glass"></i></li>
            <li><i class="fa-solid fa-user"></i></li>
            <li><i class="fa-regular fa-heart"></i></li>
            <li><i class="fa-solid fa-cart-shopping"></i></li>
          </ul>
        </div>
      </header>
      <div class="page-info">
        <p>
          <a href="home.html">Home</a>
          &nbsp; &nbsp; &nbsp;>&nbsp; &nbsp; &nbsp; My Account
        </p>
      </div>
      <div class="login-info">
        <div class="head">
          <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
        </div>
        <form action="">
          <table class="table">
            <tr>
              <td>Username or email</td>
            </tr>
            <tr>
              <td>
                <input class="inp" type="email" required />
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-dark btn-res">reset password</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <footer>
        <p class="care-no-info">Customer Care Number:-</p>
        <h3>+91 76220 08166</h3>
        <h3>contact@uniquepeople.in</h3>
        <img src="img/payment.png" alt="payment">
        <p class="last-info"> © 2021, UNIQUE PEOPLE. All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
